<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://downloader.disk.yandex.ru/disk/36c31f6a5e0df3adb871b5417f310c68999fc0dc7a04252a498f580c798e4e2b/696977d7/USoZgYoXEUi1DYsrlN4WbP8cghGUzCpGFiKLtqPIO6qgXXQeKGz42qINNjuzmqX4htk1b598pT4iDNinmhGmiA%3D%3D?uid=0&amp;filename=Online%2017.0.0.ipa&amp;disposition=attachment&amp;hash=qEtaurpfVt3X36E77XFC39bJ51Tg4b6B23rlOoixiyePylG/nHbduMcphWCqZuh7q/J6bpmRyOJonT3VoXnDag%3D%3D%3A&amp;limit=0&amp;content_type=application%2Fzip&amp;owner_uid=773676919&amp;fsize=503806251&amp;hid=bbcf08baa57caa7e2d5f4065632bff5d&amp;media_type=compressed&amp;tknv=v3</string>
        </dict>
      </array>

      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.digit.budg</string>

        <key>bundle-version</key>
        <string>17.0.0</string>

        <key>kind</key>
        <string>software</string>

        <key>title</key>
        <string>Online</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>


